{{ template "base" . }}

{{ define "content" }}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <img src="/static/images/marjors-suite.png" alt="" class="img-fluid img-thumbnail mx-auto d-block room-image">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1 class="text-center mt-4">Major's Suite</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima quos natus tenetur id dolorem numquam earum possimus! Fugit ullam modi asperiores voluptatum totam laboriosam nam eveniet animi! Illum, aut! Laudantium, recusandae molestias odio repudiandae porro illum magni iure id at consectetur qui! Asperiores corporis repudiandae hic! Amet vel sint facere dolores, fugit sit tenetur quasi id deleniti velit ipsum. Commodi possimus temporibus esse ullam placeat velit molestias quae odit aut, corrupti similique minus cum hic architecto ipsum veritatis iste provident necessitatibus ea libero cupiditate facere quis nisi. Aperiam, assumenda, saepe culpa fuga maxime cupiditate blanditiis quaerat tempora id nemo vero.</p>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <a id="check-availability-button" href="#!" class="btn btn-success">Check Availability</a>
            </div>
        </div>
    </div>
{{ end }}

{{ define "js" }}
    <script>
        document.getElementById("check-availability-button").addEventListener("click", function () {
            let html = `
                <form id="check-availability-form" action="" method="post" novalidate class="needs-validation">
                    <div class="row">
                        <div class="col">
                            <div class="row" id="reservation-dates-modal">
                                <div class="col-md-6">
                                    <input disabled required class="form-control" type="text" name="start" id="start" placeholder="Arrival">
                                </div>
                                <div class="col-md-6">
                                    <input disabled required class="form-control" type="text" name="end" id="end" placeholder="Departure">
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            `;
            attention.custom({
                title: 'Choose your dates',
                msg: html,
            });
        })
    </script>
{{ end }}